# Imports

In [1]:
import pandas as pd
import numpy as np

# Data Preperation

## Reading the dataset

In [2]:
csv_path = "../dataset/railway.csv"

dataset = pd.read_csv(csv_path)

dataset

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No

## Converting the Dataset into a Dataframe

In [3]:
df = pd.DataFrame(dataset)

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No

# Data Cleaning

## Handling Duplicates

### Checking for Duplicates

In [4]:
duplicate_rows = df[df.duplicated()]

______________________________________
##### No duplicates are found
______________________________________

## Handling Missing Values

### Checking for Missing Values

In [5]:
missing_counts = df.isna().sum()
print(missing_counts)

Transaction ID             0
Date of Purchase           0
Time of Purchase           0
Purchase Type              0
Payment Method             0
Railcard               20918
Ticket Class               0
Ticket Type                0
Price                      0
Departure Station          0
Arrival Destination        0
Date of Journey            0
Departure Time             0
Arrival Time               0
Actual Arrival Time     1880
Journey Status             0
Reason for Delay       27481
Refund Request             0
dtype: int64

### üîç Missing Values Summary

#### Columns with Missing Values:

##### **Railcard**.
- Replace all missing values with `"None"`.

---

##### **Actual Arrival Time**
- Replace all missing values with `"Unknown"`.

---

##### **Reason for Delay**
- If **Journey Status = "Delayed"** and the value is missing ‚Üí set it to `"Unknown"`.
- If the journey is **not delayed**, keep the missing value as is.

---

In [6]:
df['Railcard'] = df['Railcard'].fillna("None")

# Actual Arrival Time
## Replace Missing Values with "Unknown"
df['Actual Arrival Time'] = df['Actual Arrival Time'].fillna("Unknown")

# Reason for Delay
## Replace Missing Values with "Unknown" when 'Journey Status' is "Delayed"
df.loc[
    df[df['Journey Status'] == "Delayed"][df['Reason for Delay'].isna()].index,
    'Reason for Delay'
] = "Unknown"

/tmp/ipykernel_12742/3899246803.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Journey Status'] == "Delayed"][df['Reason for Delay'].isna()].index,

## Data Extraction

### Handling Data Types
Before performing operations on columns, it is important to check and correct their data types.

In [7]:
# Print types of the dataframe
df.dtypes

Transaction ID         object
Date of Purchase       object
Time of Purchase       object
Purchase Type          object
Payment Method         object
Railcard               object
Ticket Class           object
Ticket Type            object
Price                   int64
Departure Station      object
Arrival Destination    object
Date of Journey        object
Departure Time         object
Arrival Time           object
Actual Arrival Time    object
Journey Status         object
Reason for Delay       object
Refund Request         object
dtype: object

In [8]:
# --- Date columns ---
date_cols = ['Date of Purchase', 'Date of Journey']
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# --- Time columns ---
time_cols = ['Time of Purchase', 'Departure Time', 'Arrival Time', 'Actual Arrival Time']
for col in time_cols:
    df[col] = pd.to_datetime(df[col], format='%H:%M:%S', errors='coerce').dt.time

# Convert 'Arrival Time' and 'Actual Arrival Time' type to datetime temporarily.
time_cols = ['Arrival Time', 'Actual Arrival Time']
for col in time_cols:
    df[col] = pd.to_datetime(df[col], format='%H:%M:%S', errors='coerce')

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,1900-01-01 13:30:00,1900-01-01 13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,1900-01-01 11:35:00,1900-01-01 11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,1900-01-01 18:45:00,1900-01-01 18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,1900-01-01 22:30:00,1900-01-01 22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,1900-01-01 19:00:00,1900-01-01 19:00:00,On Time,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,1900-01-01 20:30:00,1900-01-01 20:30:00,On Time,NaN,No
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,1900-01-01 21:35:00,1900-01-01 21:35:00,On Time,NaN,No
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,1900-01-01 20:45:00,1900-01-01 20:45:00,On Time,NaN,No
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,1900-01-01 22:35:00,1900-01-01 22:35:00,On Time,NaN,No
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,1900-01-01 22:00:00,1900-01-01 22:00:00,On Time,NaN,No

### Extracting Day and Month from Date of Journey

In [9]:
df['Day']   = df['Date of Journey'].dt.day
df['Month'] = df['Date of Journey'].dt.month

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,Day,Month
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,1900-01-01 13:30:00,1900-01-01 13:30:00,On Time,NaN,No,1,1
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,1900-01-01 11:35:00,1900-01-01 11:40:00,Delayed,Signal Failure,No,1,1
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,1900-01-01 18:45:00,1900-01-01 18:45:00,On Time,NaN,No,2,1
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,1900-01-01 22:30:00,1900-01-01 22:30:00,On Time,NaN,No,1,1
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,1900-01-01 19:00:00,1900-01-01 19:00:00,On Time,NaN,No,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:00:00,1900-01-01 20:30:00,1900-01-01 20:30:00,On Time,NaN,No,30,4
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,20:15:00,1900-01-01 21:35:00,1900-01-01 21:35:00,On Time,NaN,No,30,4
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,Liverpool Lime Street,2024-04-30,20:15:00,1900-01-01 20:45:00,1900-01-01 20:45:00,On Time,NaN,No,30,4
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-30,21:15:00,1900-01-01 22:35:00,1900-01-01 22:35:00,On Time,NaN,No,30,4
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,Manchester Piccadilly,2024-04-30,21:30:00,1900-01-01 22:00:00,1900-01-01 22:00:00,On Time,NaN,No,30,4

### Concatinating Actual Dates with Acutal Times into columns for temporal use

The columns 'Arrival Datetime', 'Actual Arrival Datetime' will be used to generate the delay in minutes by subtracting the actual datetime from the expected one.

In [10]:
df['Arrival Datetime'] = df['Date of Journey'].dt.strftime('%Y-%m-%d') + ' ' + df['Arrival Time'].dt.strftime('%H:%M:%S')
df['Actual Arrival Datetime'] = df['Date of Journey'].dt.strftime('%Y-%m-%d') + ' ' + df['Actual Arrival Time'].dt.strftime('%H:%M:%S')

df['Arrival Datetime'] = pd.to_datetime(df['Arrival Datetime'], errors='coerce')
df['Actual Arrival Datetime'] = pd.to_datetime(df['Actual Arrival Datetime'], errors='coerce')

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,Day,Month,Arrival Datetime,Actual Arrival Datetime
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,...,11:00:00,1900-01-01 13:30:00,1900-01-01 13:30:00,On Time,NaN,No,1,1,2024-01-01 13:30:00,2024-01-01 13:30:00
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,...,09:45:00,1900-01-01 11:35:00,1900-01-01 11:40:00,Delayed,Signal Failure,No,1,1,2024-01-01 11:35:00,2024-01-01 11:40:00
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,...,18:15:00,1900-01-01 18:45:00,1900-01-01 18:45:00,On Time,NaN,No,2,1,2024-01-02 18:45:00,2024-01-02 18:45:00
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,...,21:30:00,1900-01-01 22:30:00,1900-01-01 22:30:00,On Time,NaN,No,1,1,2024-01-01 22:30:00,2024-01-01 22:30:00
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,...,16:45:00,1900-01-01 19:00:00,1900-01-01 19:00:00,On Time,NaN,No,1,1,2024-01-01 19:00:00,2024-01-01 19:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,20:00:00,1900-01-01 20:30:00,1900-01-01 20:30:00,On Time,NaN,No,30,4,2024-04-30 20:30:00,2024-04-30 20:30:00
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,...,20:15:00,1900-01-01 21:35:00,1900-01-01 21:35:00,On Time,NaN,No,30,4,2024-04-30 21:35:00,2024-04-30 21:35:00
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,20:15:00,1900-01-01 20:45:00,1900-01-01 20:45:00,On Time,NaN,No,30,4,2024-04-30 20:45:00,2024-04-30 20:45:00
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,...,21:15:00,1900-01-01 22:35:00,1900-01-01 22:35:00,On Time,NaN,No,30,4,2024-04-30 22:35:00,2024-04-30 22:35:00
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,...,21:30:00,1900-01-01 22:00:00,1900-01-01 22:00:00,On Time,NaN,No,30,4,2024-04-30 22:00:00,2024-04-30 22:00:00

### Calculating Delays

In [11]:
mask = df['Actual Arrival Datetime'] < df['Arrival Datetime']
df.loc[mask, 'Actual Arrival Datetime'] += pd.Timedelta(days=1)

df['Delay (min)'] = (df['Actual Arrival Datetime'] - df['Arrival Datetime']).dt.total_seconds() / 60
df.loc[df['Journey Status'] != 'Delayed', 'Delay (min)'] = np.nan

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,Day,Month,Arrival Datetime,Actual Arrival Datetime,Delay (min)
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,...,1900-01-01 13:30:00,1900-01-01 13:30:00,On Time,NaN,No,1,1,2024-01-01 13:30:00,2024-01-01 13:30:00,NaN
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,...,1900-01-01 11:35:00,1900-01-01 11:40:00,Delayed,Signal Failure,No,1,1,2024-01-01 11:35:00,2024-01-01 11:40:00,5.0
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,...,1900-01-01 18:45:00,1900-01-01 18:45:00,On Time,NaN,No,2,1,2024-01-02 18:45:00,2024-01-02 18:45:00,NaN
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,...,1900-01-01 22:30:00,1900-01-01 22:30:00,On Time,NaN,No,1,1,2024-01-01 22:30:00,2024-01-01 22:30:00,NaN
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,...,1900-01-01 19:00:00,1900-01-01 19:00:00,On Time,NaN,No,1,1,2024-01-01 19:00:00,2024-01-01 19:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,1900-01-01 20:30:00,1900-01-01 20:30:00,On Time,NaN,No,30,4,2024-04-30 20:30:00,2024-04-30 20:30:00,NaN
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,...,1900-01-01 21:35:00,1900-01-01 21:35:00,On Time,NaN,No,30,4,2024-04-30 21:35:00,2024-04-30 21:35:00,NaN
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,1900-01-01 20:45:00,1900-01-01 20:45:00,On Time,NaN,No,30,4,2024-04-30 20:45:00,2024-04-30 20:45:00,NaN
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,...,1900-01-01 22:35:00,1900-01-01 22:35:00,On Time,NaN,No,30,4,2024-04-30 22:35:00,2024-04-30 22:35:00,NaN
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,...,1900-01-01 22:00:00,1900-01-01 22:00:00,On Time,NaN,No,30,4,2024-04-30 22:00:00,2024-04-30 22:00:00,NaN

### Converting 'Arrival Time' and 'Actual Arrival Time' into times

In [12]:
for col in ['Arrival Time', 'Actual Arrival Time']:
    df[col] = pd.to_datetime(df[col], errors='coerce').dt.time

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,Day,Month,Arrival Datetime,Actual Arrival Datetime,Delay (min)
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,...,13:30:00,13:30:00,On Time,NaN,No,1,1,2024-01-01 13:30:00,2024-01-01 13:30:00,NaN
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,...,11:35:00,11:40:00,Delayed,Signal Failure,No,1,1,2024-01-01 11:35:00,2024-01-01 11:40:00,5.0
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,...,18:45:00,18:45:00,On Time,NaN,No,2,1,2024-01-02 18:45:00,2024-01-02 18:45:00,NaN
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,...,22:30:00,22:30:00,On Time,NaN,No,1,1,2024-01-01 22:30:00,2024-01-01 22:30:00,NaN
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,...,19:00:00,19:00:00,On Time,NaN,No,1,1,2024-01-01 19:00:00,2024-01-01 19:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,20:30:00,20:30:00,On Time,NaN,No,30,4,2024-04-30 20:30:00,2024-04-30 20:30:00,NaN
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,...,21:35:00,21:35:00,On Time,NaN,No,30,4,2024-04-30 21:35:00,2024-04-30 21:35:00,NaN
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,20:45:00,20:45:00,On Time,NaN,No,30,4,2024-04-30 20:45:00,2024-04-30 20:45:00,NaN
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,...,22:35:00,22:35:00,On Time,NaN,No,30,4,2024-04-30 22:35:00,2024-04-30 22:35:00,NaN
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,...,22:00:00,22:00:00,On Time,NaN,No,30,4,2024-04-30 22:00:00,2024-04-30 22:00:00,NaN

### Delete the datetimes columns

In [13]:
del df['Arrival Datetime']
del df['Actual Arrival Datetime']

df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,Day,Month,Delay (min)
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,...,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No,1,1,NaN
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,...,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No,1,1,5.0
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,None,Standard,Advance,3,Liverpool Lime Street,...,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No,2,1,NaN
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,None,Standard,Advance,13,London Paddington,...,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No,1,1,NaN
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,None,Standard,Advance,76,Liverpool Lime Street,...,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,18:42:58,Online,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,2024-04-30,20:00:00,20:30:00,20:30:00,On Time,NaN,No,30,4,NaN
31649,7da22246-f480-417c-bc2f,2024-04-30,18:46:10,Online,Contactless,None,Standard,Off-Peak,10,London Euston,...,2024-04-30,20:15:00,21:35:00,21:35:00,On Time,NaN,No,30,4,NaN
31650,add9debf-46c1-4c75-b52d,2024-04-30,18:56:41,Station,Credit Card,None,Standard,Off-Peak,4,Manchester Piccadilly,...,2024-04-30,20:15:00,20:45:00,20:45:00,On Time,NaN,No,30,4,NaN
31651,b92b047c-21fd-4859-966a,2024-04-30,19:51:47,Station,Credit Card,None,Standard,Off-Peak,10,London Euston,...,2024-04-30,21:15:00,22:35:00,22:35:00,On Time,NaN,No,30,4,NaN
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,...,2024-04-30,21:30:00,22:00:00,22:00:00,On Time,NaN,No,30,4,NaN

## Save the cleand data

In [14]:
df.to_csv('../dataset/cleaned_data.csv', index=False)